<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ecolplag</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/clientePrincipal">Principal <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clienteSolicitar">Solicitar servicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/clienteConsultar">Consultar servicio</a>
                  </li>
            </ul>
        </div>
    </nav>
</header>
<body>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Valor</th>
            <th scope="col">Tecnico</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>12/04/2020</td>
            <td>Control de plagas</td>
            <td>500000</td>
            <td>Luis Moreno</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>13/04/2020</td>
            <td>Lavado de tanques</td>
            <td>700000</td>
            <td>Dayana Chinchilla</td>
          </tr>
        </tbody>
      </table>
</body>
